node_modules
dist
dist-ssr
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs
*.log

__pycache__/git add .
*.py[cod]
*$py.class

venv/
.venv/
env/
.env

dataset_deepfake/
stylegan_data/
stylegan_fakes/
mixed_finetune/

.env
.kaggle/
kaggle.json

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db